@import "../../styles/variables";

.title-container {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: $g-white;
    margin-bottom: 10px;
    display: flex;
    h2 {
        width: 100%;
    }
}
.edit-form {
    margin: 5px;
}
.bottom-bar {
    position: sticky;
    z-index: 5;
    bottom: 0;
    padding: 5px;
    background-color: $g-white;
}
