<form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
    <p class="error" *ngIf="error">{{ error }}</p>

    <pa-input name="login" required [disabled]="isPending" ngModel errorHelp="Username is required">Username</pa-input>
    <pa-input type="password" required name="password" [disabled]="isPending" ngModel errorHelp="Password is required">Password</pa-input>

    <footer>
        <pa-button border type="submit" [disabled]="isPending || !form.form.valid">{{isPending ? 'Loading…' : 'Login'}}</pa-button>
    </footer>
</form>
