@import "./styles/variables";

:host {
    display: block;

    header {
        position: relative;
        background-color: $g-light-gray;
        padding-left: 14px;
        height: 66px;

        a:focus, a:active {
            box-shadow: none;
        }

        img {
            cursor: pointer;
        }

        pa-button {
            position: absolute;
            right: 7px;
            top: 7px;
        }
    }

    main {
        padding: 24px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto 50%;
    }

    aside#pa-toasts-block {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
        align-content: center;
    }
}
