:host {
    display: block;
    padding: 24px;

    header {
        position: relative;

        a:focus, a:active {
            box-shadow: none;
        }

        img {
            cursor: pointer;
        }

        pa-button {
            position: absolute;
            right: 0;
        }
    }
}
