@import "./styles/variables";

:host {
    display: block;

    header {
        position: relative;
        background-color: $light-gray;
        padding-left: 16px;

        a:focus, a:active {
            box-shadow: none;
        }

        img {
            cursor: pointer;
        }

        pa-button {
            position: absolute;
            right: 7px;
            top: 7px;
        }
    }

    main {
        padding: 24px;
    }
}
