<pa-button *ngIf="canAdd" icon="add" [traverseTo]="activePath + '/@@add'"></pa-button>

<div class="selected-context" *ngIf="hasButtons">
    <pa-button color="secondary"
               icon="pen" [traverseTo]="activePath + '/@@edit'"></pa-button>
    <pa-button color="secondary"
               icon="properties" [traverseTo]="activePath + '/@@behaviors'"></pa-button>
    <pa-button color="secondary"
               icon="sharing" [traverseTo]="activePath + '/@@sharing'"></pa-button>
    <pa-button color="destructive"
               icon="delete" (click)="delete()"></pa-button>
</div>
