<ng-container *ngIf="!type">Add a new:
    <ul>
        <li *ngFor="let type of types">
            <a [traverseTo]="'@@add?type=' + type">{{ type }}</a>
        </li>
    </ul>
</ng-container>
<form *ngIf="type" #f="ngForm" (submit)="onSave(f.value)">
    <pa-input name="id" ngModel>Id</pa-input>
    <pa-input name="title" ngModel>Title</pa-input>

    <pa-button (click)="onCancel()" color="secondary" size="small">Cancel</pa-button>
    <pa-button type="submit"  border size="small">Save</pa-button>
</form>
