<ng-container *ngIf="!type">
    <h2>Add new content in {{ context['@name'] }}</h2>
    <ul>
        <li *ngFor="let type of types">
            <pa-button border [traverseTo]="'@@add?type=' + type">{{ type }}</pa-button>
        </li>
    </ul>
</ng-container>
<ng-container *ngIf="type">
    <h2>Add new {{ type }} in {{ context['@name'] }}</h2>
    <form *ngIf="type" #f="ngForm" (submit)="onSave(f.value)">
        <pa-input name="id" ngModel>Id</pa-input>
        <pa-input name="title" ngModel>Title</pa-input>

        <pa-button (click)="onCancel()" color="secondary" size="small">Cancel</pa-button>
        <pa-button (click)="onSave(f.value)" border size="small">Save</pa-button>
    </form>
</ng-container>
