<h2>{{ context.title }} behaviors</h2>
<div class="behaviors-container">
    <div>
        <h3>Enabled behaviors</h3>
        <ul>
            <li *ngFor="let behavior of behaviors">
                <pa-button size="small" color="destructive" icon="delete" (click)="delete(behavior)"></pa-button>
                {{ behavior }}
            </li>
        </ul>
    </div>
    <div>
        <h3>Available behaviors</h3>
        <ul>
            <li *ngFor="let behavior of availableBehaviors">
                <pa-button size="small" icon="add" (click)="add(behavior)"></pa-button>
                {{ behavior }}
            </li>
        </ul>
    </div>
</div>
