<pa-badge class="content-type" hexaColor="#FF4400">
    {{ context['@type'] }}</pa-badge>
<h2>{{ context['@name'] }}</h2>
<div>
    <dt>Title</dt>
    <dd>{{ context.title }}</dd>
    <dt>UID</dt>
    <dd>{{ context['@uid'] }}</dd>
    <h3>Behaviors</h3>
    <section *ngIf="behaviors">
        <ng-container *ngFor="let behavior of behaviors">
            <legend>{{ behavior }}</legend>
            <div class="behavior-item" *ngFor="let field of context[behavior] | keyvalue">
                <dt>{{ field.key }}</dt>
                <dd>{{ field.value || '–' }}</dd>
            </div>
        </ng-container>
    </section>
</div>

