/* You can add global styles to this file, and also import other style files */
@import "develop/pastanaga-angular/projects/pastanaga/src/lib/styles/common-reset";

dt {
    font-size: size(xxs);
    color: $gray-light;
}

.error {
    color: $red;
}
