<div class="list-container" *ngFor="let parent of parentList">
    <ul>
        <li *ngFor="let item of parent" [traverseTo]="item.path">
            <a href="#">{{item.title}}</a>
        </li>
    </ul>
    <g-toolbar [context]="context"></g-toolbar>
</div>

<div class="list-container" *ngIf="!!context && !!context.items">
    <ul>
        <li *ngFor="let item of context.items" [traverseTo]="item['@id']">
            <a href="#">{{item['@name']}}</a>
        </li>
    </ul>
    <g-toolbar [context]="context"></g-toolbar>
</div>
