@import "../../styles/variables";

:host {
    // this variable defines the number of columns and will be changed dynamically by javascript
    --colNum: 1;

    display: grid;
    margin-right: 24px;
    overflow-x: auto;
    grid-template-columns: repeat(var(--colNum), 300px);
    height: calc(100vh - 90px);

    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;

        &:not(:last-child) {
            border-bottom: 1px solid $azure-dark;
        }

        &.active {
            background: $sky;

            &:hover {
                background: $sky-dark;
            }
        }
    }

    li:hover {
        background: $sky-light;
    }
}

.list-container {
    overflow: auto;
    border-right: 1px solid $azure-dark;
    padding: 0 12px;

    g-toolbar {
        position: sticky;
        top: 0;
    }
}
